PORT=3001
CORS_ORIGIN=http://localhost:5173

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=fortune_hub
MYSQL_USER=fortune
MYSQL_PASSWORD=fortune123

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

FILE_SERVICE_BASE_URL=http://www.yuanlian.xin:3000/api

SMS_PROVIDER=mock
SMS_MOCK_ENABLED=true
SMS_MOCK_CODE=123456
SMS_CODE_PEPPER=change-this-pepper
SMS_WEBHOOK_URL=
SMS_WEBHOOK_TOKEN=
ALIYUN_SMS_ENDPOINT=dysmsapi.aliyuncs.com
ALIYUN_SMS_SIGN_NAME=
ALIYUN_SMS_TEMPLATE_CODE=
ALIYUN_SMS_TEMPLATE_PARAM_NAME=code
ALIBABA_CLOUD_ACCESS_KEY_ID=
ALIBABA_CLOUD_ACCESS_KEY_SECRET=
ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
