PORT=3001
CORS_ORIGIN=http://localhost:5173

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=fortune_hub
MYSQL_USER=fortune
MYSQL_PASSWORD=fortune123

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

FILE_SERVICE_BASE_URL=http://8.152.214.57:3000/api
